.footer {
  background-color: #020c1b;
  text-align: center;
  color: white;
  padding: 100px;
  margin-top: 200px;
}
.footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer p {
  color: rgba(255, 255, 255, 0.677);
  margin-top: 30px;
  line-height: 2;
}
.footer ul li {
  margin-left: 20px;
}
